h2 {
    color: #267248;
    font-weight: bold;
    font-family: "Joan", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    text-transform: uppercase;
    padding: 25px;
}

.Results .card {
    display: block;
    max-width: 1000px;
    margin: 15px auto 0 auto;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.hint {
    margin: 0 auto;
    padding: 0;
    background-color: #26724866;
}

.hintText {
    margin: 0;
    font-weight: 600;
    color: #267248;
}

.Results {
    background-color: #26724866;
    padding: 15px;
}